.App {
  font-family: sans-serif;
  text-align: center;
}

.divMain {
  color: red;
  font-size: 2m;
}

.divBordered {
  border: 3px solid;
  border-color: blue;
}

.headr {
  font-size: 4em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bk {
  background-image: url(../src/images/divbk1.png);
}
